*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #FFFFFF;
}

body{
    font-family: 'Segoe UI';
}

h1 {
    border-bottom: 3px solid black;
}

footer {
    background-color: #bf7631;
}

.product-container {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.all-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product
-title {
    border-bottom: 3px solid black;
    width: 200px;
}

.product-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

.container-2 {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.container-3 {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 36px;
    height: 36px;
}

.container-header {
    display: flex;
    height: 30px;
}

nav {
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    width: 100%;
}