*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Segoe UI';
    background-color: #FFFFFF;
    letter-spacing: 50;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    border-bottom: 3px solid black;
    width: 800px;
    margin-left: 150px;
}

footer {
    background-color: #bf7631;
}

.product-container {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.all-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    padding: 200px
}
.product
-title {
    border-bottom: 3px solid black;
    width: 200px;
}

.product-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

.container-2 {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    width: 36px;
    height: 36px;
}

.container-header {
    display: flex;
    height: 30px;
}

nav {
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    width: 100%;
}

.top-left {
    position: absolute;
    top: 100px;
    left: 20px;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.head-img {
    width: 2000px;
    object-fit: none;
}

.container-about {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
}

.container-about-1 {
    display: flex;
    width: 300px;
}

.container-about-2 {
    display: flex;
    object-fit: cover;
}

.learn {
    color: #bf7631;
    padding-top: 10px;
    text-decoration: none;
}

.orange-button {
    background-color: #bf7631;
    color: #FFFFFF;
    padding: 5px;
    border: none;
    text-decoration: none;
}

.container-4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.container-5 {
    display: flex;
    justify-content: space-evenly;
}

.contact {
    display: grid;
    place-items: center;
}

.container-6 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 30px;
    text-decoration: none;
}

nav {
    border-bottom: 3px solid gray;
}

.container-7 {
    display: flex;
    justify-content: space-evenly;
}

.grid {
    display: grid;
    grid-template-areas: 
    "top top top"
    "mid mid mid"
    "bot bot bot";
    align-items: center;
    gap: 50px;
    padding: 50px;
    justify-items: center;
}

