*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Segoe UI';
    background-color: #FFFFFF;
    letter-spacing: 50;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 30px;
}

h1 {
    border-bottom: 3px solid black;
    width: 800px;
    margin-left: 150px;
}

.logo {
    width: 36px;
    height: 36px;
}

.container-header {
    display: flex;
    height: 30px;
}

nav {
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 3px solid gray;
    z-index: 9999;
}

footer {
    background-color: #bf7631;
}

.product-container {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.all-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    padding: 200px
}
.product-title {
    border-bottom: 3px solid black;
    width: 200px;
}

.about-img-1 {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.about-img-2 {
    width: 500px;
    height: 700px;
    object-fit: cover;
    margin-top: 10px;
}
.product-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

.container-2 {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container-4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}

.container-5 {
    display: flex;
    justify-content: space-evenly;
}


.container-6 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 30px;
}

.container-7 {
    display: flex;
    justify-content: space-evenly;
}


.top-left {
    position: absolute;
    top: 100px;
    left: 20px;
    color: #FFFFFF;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFFFFF;
}

.head-img {
    width: 2000px;
    object-fit: none;
}

.container-about {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    gap: 100px;
}

.container-about-1 {
    width: 400px;
    }

.container-about-2 {
    display: flex;
    object-fit: cover;
}

.container-about-3 {
    width: 400px;
    padding: 10px;
    text-align: justify;
}

.container-about-4 {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 150px;
}

.container-about-5 {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.container-about-6 {
    padding-top: 10px;
    display: flex;
    width: 800px;
    height: 200px;
}


.learn {
    color: #bf7631;
    padding-top: 10px;
    text-decoration: none;
}

.orange-button {
    background-color: #bf7631;
    color: #FFFFFF;
    padding: 5px;
    border: none;
    text-decoration: none;
}

.contact {
    display: grid;
    place-items: center;
}


.grid {
    display: grid;
    grid-template-areas: 
    "top-l top top-r"
    "mid-l mid mid-r"
    "bot-l bot bot-r";
    align-items: center;
    gap: 50px;
    padding: 50px;
    justify-items: center;
}

a {
    text-decoration: none;
    color: inherit
}

.pic {
    transform: scalex(-1);
}

.img-1 {
    float: right;
}

.search-container {
    position: relative;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    border: solid thin;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-button img {
    width: 24px;
    height: 24px;
  }